*{
    text-align: center;
    box-sizing:border-box;

}

.title{
    margin-top: 50px;
}

.to-do-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.added-todo{
    display: flex;
    justify-self: center;
}


.added-todo-container1{
    margin: 5px;
    list-style: none;
}


.text{
    flex: 1;
}